<div class="container">
  <h2 class="text-center">ログイン</h2>
  <div class="row">
    <div class="mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td class="pt-3"><%= f.label :email %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %></td>
          </tr>

          <tr>
            <td class="pt-3"><%= f.label :password %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %></td>
          </tr>
          <tr>
            <td><%= f.submit "Log in" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
      <div class="pl-2 mb-5">
        会員登録がお済みでない方は <%= link_to 'こちら', new_user_registration_path %> から新規登録を行ってください。
      </div>
    </div>
  </div>
</div>